<!DOCTYPE html>
<html lang="es">

<head>
	<title>Mostrar Aula-Asignatura</title>
	<meta charset="utf8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<div class="logo_titulo">
			<img src="/img/unisimon.png" alt="logo Unisimon" class="logo">
			<h1 class="titulo_proyecto">CRUD Consulta Aulas - Bloque B</h1>
		</div>
		<div class="menu">
			<nav>
				<ul>
					<li><a th:href="@{/dia}">Dia</a></li>
					<li><a th:href="@{/docente}">Docente</a></li>
					<li><a th:href="@{/programa}">Programa</a></li>
					<li><a th:href="@{/aula}">Aula</a></li>
					<li><a th:href="@{/asignatura}">Asignatura</a></li>
					<li><a th:href="@{/aula_asignatura}">Aula-Asignatura</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container-fluid" style="margin-top: 40px;">
		<h2 class="titulo_pag">EDITAR AULA-ASIGNATURA</h2>

		<form th:object="${aula_asign}" class="show_form" th:action="@{/aula_asignatura/save}" method="post">
			<div class="mb-3">
				<input type="hidden" class="form-control" id="Identificacion" name="Identificacion" th:field="*{ID}"
					th:value="*{ID}">
			</div>
			<div class="mb-3">
				<label for="Dia" class="form-label">Dia:</label>
				<select class="form-control" id="Dia" name="Dia" th:field="*{dia}">
					<option th:each="dia:${dia}" th:value="${dia.ID}" th:text="${dia.Nombre}">
					</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Asignatura" class="form-label">Asignatura:</label>
				<select class="form-control" id="Asignatura" name="Asignatura" th:field="*{asignatura}">
					<option th:each="asignatura:${asign}" th:value="${asignatura.Cod}"
						th:text="${asignatura.Cod} + ' - ' + ${asignatura.Nombre}">
					</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Aula" class="form-label">Aula:</label>
				<select class="form-control" id="Aula" name="Aula" th:field="*{aula}">
					<option th:each="aula:${aula}" th:value="${aula.ID}" th:text="${aula.ID}">
					</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="Hora_ini" class="form-label">Hora inicio:</label>
				<input type="text" class="form-control" id="Hora_ini" name="Hora_ini" th:value="${aula_asign.Hora_ini}" required>
			</div>
			<div class="mb-3">
				<label for="Hora_fin" class="form-label">Hora fin:</label>
				<input type="text" class="form-control" id="Hora_fin" name="Hora_fin" th:value="${aula_asign.Hora_fin}" required>
			</div>
			<div class="mb-3 boton">
				<a th:href="@{/aula_asignatura}"><button type="button"
						class="btn btn-outline-danger">Volver</button></a>
				<a><input type="submit" class="btn btn-outline-success" value="Editar"></a>
			</div>
		</form>
	</div>

	<footer>
		<div>Diego Jaimes</div>
	</footer>
</body>

</html>